<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/common.css" rel="stylesheet">
    <script src="/jquery.min.js"></script>

    <script type="text/javascript">
        var flag = true;
        var totalFlag = true;
        var flag2 = 0;
        var flag3 = 0;

        function err() {
            var f = document.calform;
            f.disp.value = "수식오류";
            flag = true;
        }

        function but(su) {

            if (totalFlag == false && isNaN(su) == false) {
                c();
            } else {
                totalFlag = true;
            }

            var f = document.calform;

            if (flag) {
                if (su == 0) {
                    return;
                }
                f.disp.value = "";
                flag = false;
            }

            if (isNaN(su)) {
                flag2++;
            } else {
                flag2 = 0;
            }

            if (flag2 > 1) {
                return;
            }
            f.disp.value += su;
        }

        function c() {
            var f = document.calform;
            flag = true;
            totalFlag = true;
            f.disp.value = "";
        }

        function calculate() {
            $(document).ready(function(){
                $.ajax({
                    url : "calculate?" + $("#disp").serialize(),
                    type : "GET",
                    success : function(result){
                        document.calform.disp.value = result;
                    },
                    error :function(result){
                        document.calform.disp.value = result;
                    }
                });
            });
        }
    </script>

    <title>Calculator</title>
</head>
<body>
    <h2 align="center">Calculator v1.0</h2>
    <form name="calform">
        <table border="0" align="center" cellspacing="0" style="border: 2px solid blue;">
            <tr>
                <td colspan="5"><input type="text" name="disp" id="disp" value="0"></td>
            </tr>
            <tr>
                <td><input type="button" value="7" class="btn" onclick="but(7)"></td>
                <td><input type="button" value="8" class="btn" onclick="but(8)"></td>
                <td><input type="button" value="9" class="btn" onclick="but(9)"></td>
                <td colspan="2"><input type="button" value="C" class="clr" onclick="c()"></td>
            </tr>
            <tr>
                <td><input type="button" value="4" class="btn" onclick="but(4)"></td>
                <td><input type="button" value="5" class="btn" onclick="but(5)"></td>
                <td><input type="button" value="6" class="btn" onclick="but(6)"></td>
                <td><input type="button" value="/" class="btn" onclick="but('/')"></td>
                <td><input type="button" value="%" class="btn" ></td>
            </tr>
            <tr>
                <td><input type="button" value="1" class="btn" onclick="but(1)"></td>
                <td><input type="button" value="2" class="btn" onclick="but(2)"></td>
                <td><input type="button" value="3" class="btn" onclick="but(3)"></td>
                <td><input type="button" value="*" class="btn" onclick="but('*')"></td>
                <td><input type="button" value="+" class="btn" onclick="but('+')"></td>
            </tr>
            <tr>
                <td><input type="button" value="0" class="btn" onclick="but(0)"></td>
                <td><input type="button" value="." class="btn" onclick="but('.')"></td>
                <td colspan="2"><input type="button" value="=" class="equal" onclick="calculate()"></td>
                <td><input type="button" value="-" class="btn" onclick="but('-')"></td>
            </tr>
        </table>
    </form>
</body>
</html>